<div>
  <form>
    <div class="flexbox">
      <div>
        <img src="../../../../assets/signupImg.jpg" />
      </div>
      <div>
        <h2>Cadastre-se</h2>
        <div>
          <input type="text" placeholder="Nome:" />
        </div>
        <div>
          <input type="email" placeholder="E-mail:" />
        </div>
        <div>
          <input type="password" placeholder="Senha:" />
        </div>
        <div>
          <input type="text" placeholder="Telefone:" />
        </div>
        <div>
          <select name="sex">
            <option value="">Sexo</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>
            <option value="other">Outro</option>
          </select>
        </div>
        <button type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
</div>
