<div>
  <form [formGroup]="signupForm" (ngSubmit)="submitSignUpForm()">
    <div class="flexbox">
      <div>
        <img src="../../../../assets/signupImg.jpg" />
      </div>
      <div>
        <h2>Cadastre-se</h2>
        <div>
          <input type="text" placeholder="Nome:" formControlName="name" />
          <p
            *ngIf="this.signupForm.get('name')?.errors?.['required'] && this.signupForm.get('name')?.value !== null"
          >
            O nome é obrigatório
          </p>
          <p *ngIf="this.signupForm.get('name')?.errors?.['minlength']">
            O nome precisa ter no mínimo 8 caracteres
          </p>
        </div>
        <div>
          <input type="email" placeholder="E-mail:" formControlName="email" />
          <p
            *ngIf="this.signupForm.get('email')?.errors?.['required'] && this.signupForm.get('email')?.value !== null"
          >
            O email é obrigatório!
          </p>
          <p *ngIf="this.signupForm.get('email')?.errors?.['email']">
            Forneça um formato de e-mail válido!
          </p>
        </div>
        <div>
          <input
            type="password"
            placeholder="Senha:"
            formControlName="password"
          />
          <p
            *ngIf="this.signupForm.get('password')?.errors?.['required'] && this.signupForm.get('password')?.value !== null"
          >
            A senha é obrigatória!
          </p>
          <p *ngIf="this.signupForm.get('password')?.errors?.['minlength']">
            A senha deve ter no mínimo 8 caracteres
          </p>
          <p *ngIf="this.signupForm.get('password')?.errors?.['pattern']">
            A senha precisa conter pelo menos uma letra maiúscula, uma letra
            minúscula, um número e um caractere especial
          </p>
        </div>
        <div>
          <input type="text" placeholder="Telefone:" formControlName="phone" />
          <p
            *ngIf="this.signupForm.get('phone')?.errors?.['required'] && this.signupForm.get('phone')?.value !== null"
          >
            O telefone é obrigatório!
          </p>
          <p *ngIf="this.signupForm.get('phone')?.errors?.['pattern']">
            Por favor, insira um número de telefone válido no formato (XX)
            XXXX-XXXX ou (XX) XXXXX-XXXX.
          </p>
        </div>
        <div>
          <select name="sex" formControlName="sex">
            <option value="">Sexo</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>
            <option value="other">Outro</option>
          </select>
          <p
            *ngIf="this.signupForm.get('sex')?.errors?.['required'] && this.signupForm.get('sex')?.touched"
          >
            Informar o sexo é obrigatório!
          </p>
        </div>
        <button type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
</div>
