<div>
  <form [formGroup]="signupForm" (ngSubmit)="submitSignUpForm()">
    <div class="flexbox">
      <div>
        <img src="../../../../assets/signupImg.jpg" />
      </div>
      <div>
        <h2>Cadastre-se</h2>
        <div>
          <input type="text" placeholder="Nome:" formControlName="name" />
        </div>
        <div>
          <input type="email" placeholder="E-mail:" formControlName="email" />
        </div>
        <div>
          <input
            type="password"
            placeholder="Senha:"
            formControlName="password"
          />
        </div>
        <div>
          <input type="text" placeholder="Telefone:" formControlName="phone" />
        </div>
        <div>
          <select name="sex" formControlName="sex">
            <option value="">Sexo</option>
            <option value="male">Masculino</option>
            <option value="female">Feminino</option>
            <option value="other">Outro</option>
          </select>
        </div>
        <button type="submit">Cadastrar</button>
      </div>
    </div>
  </form>
</div>
